@import "tailwindcss";

@theme {
  --color-gold: #c9a84c;
  --color-gold-light: #e2c375;
  --color-dark: #111214;
  --color-dark2: #1a1c20;
  --color-dark3: #22252b;
  --color-mid: #2e3138;
  --color-text-muted: #888c96;
}

@layer base {
  html { scroll-behavior: smooth; }
  body {
    background: #111214;
    color: #d4d6da;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.7;
  }
}
